---
layout: base
---
<div class="blog-cover" style="background-image:url({{ site.baseurl }}images/{{ site.inc.cover_image }});">
    <section>
        <div class="container">
            <h1>{{ site.inc.title }}</h1>
            {% if site.inc.subtitle %}<h3>{{ site.inc.subtitle }}</h3>{% endif %}
            {% include _social_icons.html %}
        </div>
    </section>
</div>

<article class="container" id="content">
    <p><img alt="" src="{{ site.baseurl }}images/necg.png" style="width: 128px; height: 128px; float: left" /></p>
    <p>The <strong>Computer Graphics Student Group of FEUP</strong>, NeCG|FEUP, was created back in 2006 by a group of undergraduated Informatics and Computing Engineering students who were passionate about Computer Graphics.</p>
    <p>Our main goals are to create a group of mutual help raising the awareness of our members about the subjects related to Computer Graphics, to promote undergraduate R&amp;D activities and to spread The Word of the Pixel! We also have a very special interest in the science and development of Digital Games.</p>
    <p>Usually our activities are related to software development, yet we also promote open academic/industrial events since we believe that openness and awareness are the path to the next iteration of the global knowledge.</p>
    <p>Fortunately we are not alone! Since our creation we have been strongly supported by the <a href="http://www.fe.up.pt/si_uk/unidades_geral.visualizar?p_unidade=151" target="_blank">Department of Informatics Engineering</a> (DEI) of the <a href="http://www.fe.up.pt/si_uk/web_page.inicial">Engineering Faculty of Porto University</a> (FEUP).</p>
    <p>Alone we are powerful. Together we are absolute!</p>
</article>
