---
layout: base
---
<!--<div class="blog-cover" style="background-image:url({{ site.baseurl }}images/{{ site.inc.cover_image }});">

    <section>
        <div class="container">
            <h1>{{ site.inc.title }}</h1>
            {% if site.inc.subtitle %}<h3>{{ site.inc.subtitle }}</h3>{% endif %}
            {% include _social_icons.html %}
        </div>
    </section>
</div>-->

<article class="container" id="content">
    <h3 id='members'>Members</h3>
    <p>
        Daniel Pereira - MIEIC/FEUP<br />
        Diogo Barroso - MIEIC/FEUP<br />
        Diogo Santos - MIEIC/FEUP<br />
        <a href='http://github.com/DDuarte' target="_blank">Duarte Duarte</a> - MIEIC/FEUP<br />
        <a href='http://paginas.fe.up.pt/~ei08076/webpage' target="_blank">Filipe Carvalho</a> - MIEIC/FEUP<br />
        <a href='http://paginas.fe.up.pt/~ei08139' target="_blank">Gonçalo Silva</a> - MIEIC/FEUP<br />
        João Correia - MIEIC/FEUP<br />
        João Marinheiro - MIEIC/FEUP<br />
        João Neto - MIEIC/FEUP<br />
        José Coelho - MIEIC/FEUP<br />
        José Paulo - MIEIC/FEUP<br />
        Luís Cleto - MIEIC/FEUP<br />
        Mafalda Barata - MM/FEUP<br />
        Mariana Owen - MM/FEUP<br />
        Mónica Freitas - MIEIC/FEUP<br />
        Miguel Marques - MIEIC/FEUP<br />
        Miguel Mendes - MIEIC/FEUP<br />
        <a href='http://github.com/pedrorfernandes' target="_blank">Pedro Fernandes</a> - MIEIC/FEUP<br />
        Pedro Meleiro - MIEIC/FEUP<br />
        <a href='http://paginas.fe.up.pt/~ei06125' target="_blank">Pedro Oliveira</a> - MIEIC/FEUP<br />
        Ruben Cordeiro - MIEIC/FEUP<br />
        Sara Paiva - MIEIC/FEUP<br />
        Vítor Mineiro - MIEIC/FEUP
    </p>
    <h3 id='supervisors'>Supervisors</h3>
    <p>
        Prof. António Augusto de Sousa - DEI/FEUP<br />
        Prof. António Coelho - DEI/FEUP<br />
        Prof. Rui Rodrigues - DEI/FEUP
    </p>
    <h3 id='former_members'>Former Members</h3>
    <p>
        Abel Maio - MIEIC/FEUP<br />
        <a href='http://www.diogocosta.pt.tl/' target="_blank">Diogo Costa</a> - MIEIC/FEUP<br />
        <a href='http://bit.ly/fmoreira' target="_blank">Fernando Moreira</a> - MIEIC/FEUP, Microsoft Student Partner<br />
        João Tapio Leppanen - MIEIC/FEUP<br />
        José Pedro Neves - MIEEC/FEUP<br />
        Mário Freitas - MIEIC/FEUP<br />
        Ricardo Teixeira - MIEIC/FEUP<br />
        Telmo Couto - MIEIC/FEUP<br />
        <a href='http://iamto.me/' target="_blank">Tomé Duarte</a> - MIEIC/FEUP
    </p>
    <h4 id='founder_members'>Founder Members</h5>
    <p>
        Diogo Pinto Coelho - MIEIC/FEUP<br />
        <a href='http://paginas.fe.up.pt/~ei03039/perspage/index.html' target="_blank">Fábio Oliveira</a> - MIEIC/FEUP<br />
        Felipe Ávila da Costa - MIEIC/FEUP<br />
        <a href='http://marconsilva.livethoughts.net/' target="_blank">Marco Silva</a> - MIEIC/FEUP<br />
        Nelson Oliveira - MIEIC/FEUP<br />
        <a href='http://susanavilaca.com/' target="_blank">Susana Vilaça</a> - MIEIC/FEUP<br />
        Tiago Fernandes - ProDEI/FEUP
    </p>
</article>
