---
layout: base
---
<!--<div class="blog-cover" style="background-image:url({{ site.baseurl }}images/{{ site.inc.cover_image }});">
    <section>
        <div class="container">
            <h1>{{ site.inc.title }}</h1>
            {% if site.inc.subtitle %}<h3>{{ site.inc.subtitle }}</h3>{% endif %}
            {% include _social_icons.html %}
        </div>
    </section>
</div>-->

<article class="container" id="content">
    <p>Here you can check most of our projects!</p>
    <p>If the information that we share here doesn&#8217;t satisfy your curiosity, please email us and we&#8217;ll provide you what is lacking.</p>

    <h3><a href='{{ site.baseurl }}projects/volumezero'>VolumeZero</a></h3>
    <p><strong>Short Description:</strong> NeCG&#8217;s first project. A set of board games made in C++, OpenGL and Prolog.<br />
    <strong>Project Status:</strong> Finished</p>

    <h3><a href='{{ site.baseurl }}projects/sudokube'>Sudokube</a></h3>
    <p><strong>Short Description:</strong> A whole new way of playing Sudoku<br />
    <strong>Project Status:</strong> Finished</p>

    <h3><a href='{{ site.baseurl }}projects/jogo_da_escola_schools_game'>Jogo da Escola (School&#8217;s Game)</a></h3>
    <p><strong>Short Description:</strong> A board game made in C++, Prolog and OpenGL<br />
    <strong>Project Status:</strong> Finished</p>

    <h3><a href='{{ site.baseurl }}projects/3d_modeling_of_igreja_da_lapa__porto_3d'>3D Modeling of Igreja da Lapa - Porto 3D</a></h3>
    <p><strong>Short Description:</strong> 3D modeling of Igreja da Lapa for the Porto Digital contest<br />
    <strong>Project Status:</strong> Finished</p>

    <h3><a href='{{ site.baseurl }}projects/enoch_30'>Enoch 3.0</a></h3>
    <p><strong>Short Description:</strong> An open source Graphical Engine made in C++ and DirectX<br />
    <strong>Project Status:</strong> Finished</p>

    <h3><a href='{{ site.baseurl }}projects/ase_parser'>ASE Parser</a></h3>
    <p><strong>Short Description:</strong> A parser of ASE files made in C++<br />
    <strong>Project Status:</strong> Finished</p>

    <h3><a href='{{ site.baseurl }}projects/opengl_and_scheme_interface'>OpenGL and Scheme interface</a></h3>
    <p><strong>Short Description:</strong> Simple and intuitive abstraction layer made in Scheme over OpenGL<br />
    <strong>Project Status:</strong> Finished</p>
</article>
